<nav class="navbar">
  <div class="logo">
    <img src="img/logo.png" alt="YuFind!" data-src-root="img/logo.png" />
    <a href="index.html" data-link-root="index.html">YuFind!</a>
  </div>

  <div class="navbar-nav">
    <div class="nav-left">
      <a href="index.html" data-link-root="index.html">Home</a>
      <a href="pages/my-reports.html" data-link-root="pages/my-reports.html"
        >Laporanku</a
      >
    </div>

    <div class="nav-right">
      <img src="img/loginpfp.png" alt="pfp" data-src-root="img/loginpfp.png" />

      <div class="user-menu">
        <a
          href="pages/login.html"
          id="navUser"
          data-link-root="pages/login.html"
          >Login</a
        >
      </div>
    </div>
  </div>
</nav>
